.post__like{
  background: none;
  background-image: url(../../../images/icon-like.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 22px 19px;
  border: none;
  min-width: 22px;
  min-height: 19px;
  cursor: pointer;
  transition: 0.4s;
}
.post__like:hover{
  opacity: 0.5;
}